<p><b>ID:</b> {{myuuid}}</p>
<p><b>Q1:</b></p>
<p>{{pregunta1}}</p>
<p><b>Q2:</b></p>
<p>{{pregunta2}}</p>
<p><b>User Type:</b></p>
<p>{{userType}}</p>
<p><b>C1:</b></p>
<p>{{moreFunct}}</p>
<p><b>C2:</b></p>
<p>{{freeText}}</p>
<p><b>Model</b></p>
<p>{{model}}</p>
<p><b>File Names</b></p>
<p>{{fileNames}}</p>
<p><b>Email</b></p>
<p>{{email}}</p>
<p><b>Tenant ID</b></p>
<p>{{tenantId}}</p>
<p><b>Subscription ID</b></p>
<p>{{subscriptionId}}</p>
<p><b>Is Beta Page</b></p>
<p>{{isBetaPage}}</p>
