<p><b>ID:</b> {{myuuid}}</p>
<p><b>¿Te resultó útil nuestra herramienta para identificar diagnósticos de enfermedades raras?:</b></p>
<p>{{pregunta1}}</p>
<p><b>¿Cómo calificarías tu experiencia general al usar nuestra herramienta?:</b></p>
<p>{{pregunta2}}</p>
<p><b>Tipo de usuario:</b></p>
<p>{{userType}}</p>
<p><b>Deje cualquier comentario o sugerencia:</b></p>
<p>{{moreFunct}}</p>
<p><b>Deje cualquier comentario que considere oportuno:</b></p>
<p>{{freeText}}</p>
<p><b>Model</b></p>
<p>{{model}}</p>
<p><b>File Names</b></p>
<p>{{fileNames}}</p>
<p><b>Email</b></p>
<p>{{email}}</p>
<p><b>Tenant ID</b></p>
<p>{{tenantId}}</p>
<p><b>Subscription ID</b></p>
<p>{{subscriptionId}}</p>
