<p><b>ID:</b> {{myuuid}}</p>
<p><b>¿Te resultó útil nuestra herramienta para identificar diagnósticos de enfermedades raras?:</b></p>
<p>{{pregunta1}}</p>
<p><b>¿Cómo calificarías tu experiencia general al usar nuestra herramienta?:</b></p>
<p>{{pregunta2}}</p>
<p><b>¿Hay alguna funcionalidad que desearías que estuviera en la herramienta?:</b></p>
<p>{{moreFunct}}</p>
<p><b>Deje cualquier comentario que considere oportuno:</b></p>
<p>{{freeText}}</p>
