<p>Nuevo caso de soporte de: {{email}}</p>
<p>Idioma: {{lang}}</p>
<p>Asunto: {{info.subject}}</p>
<p>Descripción: {{info.description}}</p>
<p>Fecha: {{info.date}}</p>
<p>Subscribe: {{info.subscribe}}</p>
<p>Tenant ID: {{info.tenantId}}</p>
<p>Subscription Key Hash: {{info.subscriptionKeyHash}}</p>
